1 VERSIONINFO
FILEVERSION     1,0,6,0
PRODUCTVERSION  1,0,6,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "wojfil"
      VALUE "FileDescription", "Uroboros main executable file"
      VALUE "FileVersion", "1.0.6"
      VALUE "InternalName", "uro"
      VALUE "LegalCopyright", ""
      VALUE "OriginalFilename", "uro.exe"
      VALUE "ProductName", "Uroboros"
      VALUE "ProductVersion", "1.0.6"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
