1 VERSIONINFO
FILEVERSION     2,0,0,0
PRODUCTVERSION  2,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "wojfil"
      VALUE "FileDescription", "Uroboros2 main executable file"
      VALUE "FileVersion", "2.0.0"
      VALUE "InternalName", "uro"
      VALUE "LegalCopyright", ""
      VALUE "OriginalFilename", "uro.exe"
      VALUE "ProductName", "Uroboros2"
      VALUE "ProductVersion", "2.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
